<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministratorService" />
                <binding name="BasicHttpBinding_ICountryService" />
                <binding name="BasicHttpBinding_IGameTypeService" />
                <binding name="BasicHttpBinding_IPassportInformationService" />
                <binding name="BasicHttpBinding_IPlayerService" />
                <binding name="BasicHttpBinding_IRoundResultService" />
                <binding name="BasicHttpBinding_IRoundService" />
                <binding name="BasicHttpBinding_ITournamentRestrictionService" />
                <binding name="BasicHttpBinding_ITournamentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8943/AdministratorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministratorService"
                contract="ServiceReference1.IAdministratorService" name="BasicHttpBinding_IAdministratorService" />
            <endpoint address="http://localhost:8943/CountryService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICountryService" contract="ServiceReference2.ICountryService"
                name="BasicHttpBinding_ICountryService" />
            <endpoint address="http://localhost:8943/GameTypeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGameTypeService" contract="ServiceReference3.IGameTypeService"
                name="BasicHttpBinding_IGameTypeService" />
            <endpoint address="http://localhost:8943/PassportInformationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPassportInformationService"
                contract="ServiceReference4.IPassportInformationService" name="BasicHttpBinding_IPassportInformationService" />
            <endpoint address="http://localhost:8943/PlayerService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlayerService" contract="ServiceReference5.IPlayerService"
                name="BasicHttpBinding_IPlayerService" />
            <endpoint address="http://localhost:8943/RoundResultService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoundResultService"
                contract="ServiceReference6.IRoundResultService" name="BasicHttpBinding_IRoundResultService" />
            <endpoint address="http://localhost:8943/RoundService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoundService" contract="ServiceReference7.IRoundService"
                name="BasicHttpBinding_IRoundService" />
            <endpoint address="http://localhost:8943/TournamentRestrictionService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITournamentRestrictionService"
                contract="ServiceReference8.ITournamentRestrictionService"
                name="BasicHttpBinding_ITournamentRestrictionService" />
            <endpoint address="http://localhost:8943/TournamentService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITournamentService"
                contract="ServiceReference9.ITournamentService" name="BasicHttpBinding_ITournamentService" />
        </client>
    </system.serviceModel>
</configuration>